/* banner image */
.banner-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/3184465/pexels-photo-3184465.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  height: 70vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Tabs css */
article.tabs {
  position: relative;
  display: block;
  width: 40em;
  height: 15em;
  margin: 2em auto;
}

#tab1 {
  background-image: linear-gradient(rgba(254, 134, 134, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/5439153/pexels-photo-5439153.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#tab2 {
  background-image: linear-gradient(rgba(255, 133, 245, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/5439376/pexels-photo-5439376.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

article.tabs section {
  position: absolute;
  display: block;
  top: 1.8em;
  left: 0;
  height: 12em;
  background-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
}


article.tabs section h2 {
  position: absolute;
  font-size: 1em;
  font-weight: normal;
  width: 120px;
  height: 1.8em;
  top: -1.8em;
  left: 10px;
  padding: 0;
  margin: 0;
  color: #000000;
  background-color: #ddd;
  border-radius: 5px 5px 0 0;
}

article.tabs section:nth-child(2) h2 {
  left: 132px;
}

article.tabs section:nth-child(3) h2 {
  left: 254px;
}

article.tabs section h2 a {
  display: block;
  width: 100%;
  line-height: 1.8em;
  text-align: center;
  text-decoration: none;
  color: inherit;
  outline: 0 none;
}

article.tabs section,
article.tabs section h2 {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

article.tabs section:target,
article.tabs section:target h2 {
  color: #000000;
  background-color: #fff;
  z-index: 2;
}

.job-list-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  text-align: center;
  font-size: 4rem;
  color: white;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.job-list-banner button {
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  background-color: #000000b5;
  color: white;
  transition: .3s linear;
  border: 1px solid black;
}

.job-list-banner button:hover {
  background-color: transparent;
  border: 1px solid black;
}

/* .css-1u3bzj6-MuiFormControl-root-MuiTextField-root */
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}

#modal-modal-title {
  font-size: 30px;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 1.3rem !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 15px !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  margin: 3px 0px !important;
}

.modal-input {
  line-height: 75px;
}


.modal-input button {
  padding: 12px 37px;
  border: none;
  border-radius: 3px;
  background-color: #000000b5;
  color: white;
  transition: .3s linear;
  border: 1px solid black;
}

.modal-input button:hover {
  color: black;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.435);
}

.css-1869usk-MuiFormControl-root {
  width: 100% !important;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 1.3rem !important;
}

/* joblist */
.job-list {
  padding: 20px 150px;
}

/* table */
/* pi-chat-section */
.pi-chat-section {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.css-1ex1afd-MuiTableCell-root {
  font-size: 1.2rem !important;
}

.css-177gid-MuiTableCell-root {
  font-size: 1.2rem !important;
}

.css-1ygcj2i-MuiTableCell-root {
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

.css-1azl6jz-MuiTableCell-root {
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

.spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-h1 {
  text-align: center;
  margin: 20px 0px;
  font-size: 30px;
  font-weight: 700;
}

.see-all-s {
  text-align: center;
  margin: 10px 0px;
}

.see-button {
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  background-color: #000000b5;
  color: white;
  transition: .3s linear;
  border: 1px solid black;
}

.see-button:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.css-1wnsr1i {
  width: 40% !important;
}

.css-ix1f03-MuiTypography-root {
  line-height: 40px !important;
  font-size: 1.5rem;
}

/* top-job */
.top-job {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-h1 {
  margin: 40px 0px;
}

/* footer */
* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
  background-color: #004658;
  color: #fff;
}

.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}

.footer-wave-path {
  fill: #fffff2;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}

.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}

.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #00bef0;
}

.button:last-of-type {
  margin-right: 0;
}

.footer-call-to-action-button {
  background-color: #027b9a;
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;
  cursor: pointer;
  position: relative;
}

.footer-call-to-action {
  margin-top: 30px;
}

.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}





.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #027b9a;
}

.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 26px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill .2s;
}

.footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 28px;
}

.footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 24px;
}

.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 34px;
}

.footer-copyright {
  background-color: #027b9a;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

.s-p {
  margin: 10px 0px;
}


/* Logout */
.logout {
  background: linear-gradient(45deg, #19111d, #00ffbd);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout>button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px) {

  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width:480px) and (max-width:599px) {

  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width:600px) and (max-width: 800px) {

  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width:801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */

}

@media (min-width:1281px) {
  /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}

@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}


@media screen and (max-width:576px) {
  article.tabs {
    width: 25rem;
  }

  .css-s0w8ce {
    width: 400px !important;
    margin: 0px;
  }

  .job-list {
    padding: 15px;
  }

  .pi-chat-section {
    height: 90vh;
  }
}